:root {
    --couleur-fond-claire: rgb(243, 243, 243);
    --couleur-fond-fonce: rgb(28, 28, 28);
    --couleur-fond-gris: rgb(55, 55, 55);
    --orange: rgb(235, 157, 4);
    --font_base:rgb(45, 45, 45);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: liberationSans, sans-serif;
    color: var(--font_base);
    text-decoration: none;
    list-style: none;
}

    
    body{
        background-color: var(--couleur-fond-fonce);
    }
    
    header{
        background-image:url("./assets/background.jpg");
        background-size: 0.05rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
}
header img{
    width: 60%;
    margin: 2rem 0 0 0;


}
nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
padding: 5%;
    padding-top: 1rem;
    font-size: 0.56rem;
}
.title{
    font-size: 0.85rem;
    margin-bottom: 1rem;
    font-weight: 300;
    margin-top: 0.8rem;
}
.title_span{
    color: var(--orange);
}

.hello {
    font-size: 0.8rem;
    color: var(--font_base);
    font-weight: 300;
    margin-top: 0.8rem;
    align-self: flex-start;
    margin-left: 5%;
}

.banner {
    width: 100%;
}

.produits {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--couleur-fond-claire);
    width: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;

}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-left:5%;
    margin-right:5%;
}

.gantn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.gantn img{
    width: 65%;
    margin-top: 2rem;
}
.reducn{
    background-color: var(--couleur-fond-fonce);
    color: var(--orange);
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 0.4rem;
    padding: 0.4rem 0.8rem;
    position: absolute;
    top: 43px;
    right: 45px;
}
.texte_gant{
    font-size: 60%;
    background-color: white;
    color: var(--font_base);
    font-weight: 600;
    width: 65%;
    text-align: center;
    padding: 0rem 0.5rem;
}
.vente {
    background: linear-gradient(0deg,var(--couleur-fond-fonce),rgb(76, 76, 76) );
    color : var(--couleur-fond-claire);
    padding : 0.3rem 1.8rem;
    font-size: 0.8rem;

}

.reducr{
    background-color: var(--couleur-fond-fonce);
    color: var(--orange);
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 0.4rem;
    padding: 0.4rem 0.8rem;
    position: relative;
    top: -230px;
    right: -120px;
}
.prix {
    font-size: 1rem;
    font-weight: 600;
    color:var(--orange);
}
.prix span{
    text-decoration: line-through;
}
.prixvente{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}
.prixvente2{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-bottom: 5rem;
}
.partie2 {
background-color: var(--couleur-fond-gris);
width: 100%;
}

.nav2 ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    justify-items: center;
    position:sticky

    
}

.nav2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    background-color: white;
    width: 80%;
    border-radius: 10px;
    height: 3rem;
    align-items: center;
    position:absolute;
    bottom:-25px;
    left: 12%;
    text-align: center;
    box-shadow: 0px 2px 3px var(--couleur-fond-fonce);
}

.abso{
    position:relative
}
footer{
    background-color: var(--couleur-fond-gris);
    width: 100%;
}
.partie2_1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 3rem;
}

.footericon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    padding: 1rem 0;
}
    
.footericon img{
    width: 25%;
    margin-bottom: 0.5rem;
}
.footericon p{
    font-size: 0.8rem;
    color: var(--couleur-fond-claire);
    font-weight: 300;
    text-align: center;
    width: 80%;
}

.reseau {
    border-top: solid 1px var(--couleur-fond-claire);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    padding-top: 2rem;
    padding-right: 10%;
    padding-left: 10%;
    margin-left: 10%;
    margin-right: 10%;

}

footer p{
    align-items: center;
    font-size: 0.8rem;
    color: var(--couleur-fond-claire);
    font-weight: 300;
    text-align: center;
    width: 100%;
    padding-bottom: 1rem;
    padding-top: 3rem;
}

@media (min-width: 1024px) {

    header img{
        width: 60%;
    }

    header{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        padding-top: 0.2rem;
        padding-left: 10%;
        padding-right: 10%;
    }
    .gants {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2,1fr);
        width: 100%;
    }
    .prixvente2 {
        margin-bottom: 2rem;
    }
    .produits {
        padding-bottom: 3rem;
    }
    .partie2_1 {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(1, 1fr);
        flex-wrap: wrap;    
        padding: 2rem 4rem 0rem 4rem; 
    }
    main {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
    .nav2 {
        width: 50%;
        left: 25%;
        height: 75%;
    }
    .nav2 ul {
        width: 100%;
        justify-content: space-around;
        align-items: center;
        justify-items: center;
        align-self: center;    
        height: 25%;
        margin-top: 8%;

    }
    .hello {
        grid-column: 2;
        grid-row: 1;
        text-align: end;
        padding-top: 5%;
        font-size:150%;

    }
    .title {
        grid-column: 1;
        font-size: 150%;
    }

    .navbar {
       margin-bottom: 0;
       padding-bottom: 1rem;
       align-self:flex-end ;
       padding-right:0;
    }
    .navbar a {
        font-size: 250%;   
    }

    .reducn{
        top: 43px;
        right: 100px;
        font-size: 150%;
    }
    .nav2 a {
        font-size: 150%;
    }
    .nav2  {
        top: -50px;
        height: 70%;

    }

}